//Variables
$body-main-bg-color: hsl(216, 12%, 8%);
$card-ui-bg-color: hsl(213, 19%, 18%);
$icon-bg-color: hsl(218, 17%, 22%);
$checked-color: hsl(217, 12%, 63%);
$primary-interactive: hsl(25, 97%, 53%);
@use 'reset';

@mixin Flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

body {
    @include Flex(column);
    font-family: 'Overpass', sans-serif;
    font-size: 0.975rem;
    background-color: $body-main-bg-color;
    color: white;

}

.wrapper {
    max-width: 21rem;
    @include Flex(column);
    flex: 1;
}

.UI-1-wrapper {
    background-color: $card-ui-bg-color;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 4px 4px 5px hsla(0, 0%, 0%, 0.3);

    .star-image {
        background-color: $icon-bg-color;
        margin: 0 0 24px 0;
        padding: 12px;
        border-radius: 50%;
        width: max-content;
        height: max-content;
    }

    .header {
        font-size: 1.5rem;
        margin: 16px 0 12px 0;
    }

    .feedback-text {
        font-size: 0.875rem;
        opacity: 50%;
    }

}

.rate-fieldset {
    @include Flex(row);
    justify-content: space-between;
    margin: 24px 0 24px 0;
    padding: 0;
    border: none;

    .legend-visually-hidden {
        position: absolute;
        clip: rect(0, 0, 0);
        clip-path: inset(50%);
        width: 1px;
        height: 1px;
        overflow: hidden;
    }
}

.input-wrapper {
    position: relative;
    aspect-ratio: 1;

    //Input visibility
    .visually-hidden {
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}

.radio-rate {
    opacity: 0.4;
    background-color: $icon-bg-color;
    padding: 1em;
    border-radius: 50%;
    text-align: center;
    transition: all 150ms ease-in-out;

    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    min-width: 2.7rem;
}

//Maximum widht, height for inputs
input {
    width: 100%;
    height: 100%;
    margin: 0;
}

input:checked+.radio-rate {
    background-color: $checked-color;
    opacity: inherit;
}

input:hover+.radio-rate,
input:focus-visible+.radio-rate {
    cursor: pointer;
    background-color: $primary-interactive;
    opacity: 1;
    transform: scale(1.1);
}

.submit-button {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 16px;
    background-color: $primary-interactive;
    color: white;
    transition: all 150ms linear;
}

.submit-button:hover {
    background-color: transparent;
    background-color: white;
    color: $primary-interactive;
    outline: 1px solid $primary-interactive;
}

//Adding visibility class dynamically with JS
.UI-1-visibility {
    display: none;
}


.UI-2-wrapper {
    @include Flex(column);

    background-color: $card-ui-bg-color;
    padding: 24px;
    border-radius: 16px;
    text-align: center;

    .header-num-title {
        background-color: $icon-bg-color;
        color: $primary-interactive;
        font-size: 0.875rem;
        font-weight: 400;
        margin-top: 20px;
        padding: 8px;
        border-radius: 16px;
    }

    h2 {
        margin: 24px 0 12px 0;

    }

    p {
        font-size: 0.875rem;
        opacity: 0.5;
    }
}

//Removing visibility class dynamically with JS
.UI-2-visibility {
    display: none;
}

//Footer
.attribution {
    background-color: $card-ui-bg-color;
    padding: 8px;
    width: 100%;
    font-size: 0.875rem;
    text-align: center;

}

.attribution a {
    color: hsl(228, 72%, 62%);
    text-decoration: none;
    
}

@media(min-width: 50rem) {
    .wrapper {
        max-width: 23rem;
    }

}